@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: rgba(240, 237, 237, 0.6);
}

body {
    background: rgba(0, 0, 0, 0.982);
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
    align-items: center;
    width: 100%;
    min-height: 65px;
    position: fixed;
    background: rgba(0, 0, 0, 0.912);
    z-index: 9;
    
}

li {
    list-style-type: none;  
}

a {
    text-decoration: none;       
}

/* ======================= COMPONENTS ====================== */

.container-contact-me {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container-greetings-margin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-icons a {
    padding: 0 10px;
    opacity: .5;    
    display: inline-block; 
    transition: all 0.3s;   
}

.container-icons a:hover {
    opacity: 1;
    transition: all 0.3s;
}

.container-photo-profile {
    width: 50%;
    display: none;
}

.photo-profile {
    width: 300px;    
}

.container-main {
    display: flex;
    align-items: flex-end;    
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;  
    overflow: hidden;       
}

.container-menu-list {
    position: absolute;
    top: 65px;
    right: 0;
    left: 0;      
    transition: all 0.6s; 
    text-align: center;   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
    background: linear-gradient(to left, #5cc511, #0e6419); 
    box-shadow: 10px 5px 5px rgb(24, 24, 24);
}

.container-menu-list li a{
    width: 100%;
    height: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-weight: 300;
    font-size: 1.3rem;
}

.container-menu-list li {
    width: 100%;
    height: 100%;
    border-bottom: solid 1px rgba(248, 248, 248, 0.33);
}

.container-menu-list li a:hover {    
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    
}

.hidden-menu {
    top: -700px;     
    transition: all 0.6s;
}

.container-skills {
    /* min-height: 100vh; */
    background: rgb(46, 45, 45);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    position: relative;
    overflow: hidden;
}

.container-skills-icons {
    display: flex;    
    width: 70%;
    justify-content: space-around;    
    padding: 2rem 0;
    
}

.container-skills-icons img {
    opacity: 0.1;
    transition: all 0.4s;
}

.container-skills-icons img:hover {
    opacity: 1;
    transition: all 0.4s;
}

.container-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    width: 90%;
    height: 20vh;
    
}

.container-welcome {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    position: relative;
    width: 100%;
    
}

.container-who-i-am {
    text-align: center;    
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;    
}



.more-info {   
    text-align: start;
    width: 100%;
}

.more-info p {
    border-bottom: solid black 1px;
    margin: 20px 0;
    padding-bottom: 5px;
}

.title-text-bg {
    font-size: 3.7rem;
    opacity: 0.05;
    position: absolute;
}

.title-text {
    font-size: 1.4rem;
    position: absolute;
}



/* ========================= ELEMENTS ====================== */

.btn {    
    background: linear-gradient(to left, #6dd125, #0e6419); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    width: 10rem;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all 0.6s;
}

.btn:hover {
    /* padding: 15px; */
    background: linear-gradient(to left, #7bf822, #1cb130); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    transition: all 0.6s;
}

.code-symbol {
    color: #6dd125;
    display: inline-block;
    font-size: 1.5rem;   
    
}

.container-btn-more-info {
    display: flex;    
    align-items: center;
    justify-content: center;    
}


.container-btn-welcome {
    margin-top: 4rem;
}

.text-logo {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ========================== HERLPERS ====================== */

.bg-red {
    background: lightcoral;
}

.color-green {
    color: #6dd125;
    font-weight: 600;
    margin-top: 1rem;

}

.text-1 {
    font-size: 2.5rem;
 
}

.text-2 {
    font-size: 2rem;
}

.text-3 {
    font-size: 1.4rem;
}





















.btn-menu {
    background-color: transparent;       
    cursor: pointer;
    border: none;  
     
    
}

.btn-menu span {
    display: block;
    background-color: white;
    width: 25px;    
    height: 3px;
    margin: 5px 0;
}